<h2 class="text-[18px] text-black pt-[8px] pb-[15px] border-b px-4">
  بيانات الشريك
</h2>
<div
  class="grid grid-cols-12 gap-x-[10px] gap-y-[15px] my-[20px] px-4 border-b pb-6"
>
  <div class="col-span-3 flex flex-col">
    <label class="text-[16px] text-black mb-2">نوع الجهة</label>
    <select
      class="bg-transparent p-[6px] rounded-md text-gray-400 border-solid border-[2px]"
      title="department type"
      [formControl]="departmentType"
    >
      <option selected value="">حدد الجهه</option>
      <option value="governmental">حكوميه</option>
    </select>
  </div>

  <div class="col-span-3 flex flex-col">
    <label for="arabicDepartmentName" class="text-[16px] text-black mb-2">
      اسم الجهه عربى
    </label>
    <input
      type="text"
      class="bg-transparent p-[6px] rounded-md text-gray-400 border-solid border-[2px]"
      id="arabicDepartmentName"
      [formControl]="arabicDepartmentName"
      placeholder="اسم الجهه"
    />
  </div>

  <div class="col-span-3 flex flex-col">
    <label class="text-[16px] text-black mb-2"> اسم الجهه انجليزى </label>
    <input
      type="text"
      class="bg-transparent p-[6px] rounded-md text-gray-400 border-solid border-[2px]"
      placeholder="اسم الجهه"
      id="englishDepartmentName"
    />
  </div>

  <div class="col-span-3 flex flex-col">
    <label class="text-[16px] text-black mb-2">مجال الجهة</label>
    <select
      class="bg-transparent p-[6px] rounded-md text-gray-400 border-solid border-[2px]"
      title="department type"
      id="serviceType"
    >
      <option selected value="">حدد مجال الصناعه</option>
      <option value="governmental">حكوميه</option>
    </select>
  </div>
  <div class="col-span-4 flex flex-col">
    <label class="text-[16px] text-black mb-2">مجال الجهة</label>
    <div class="flex items-center gap-x-[20px] mt-4">
      <div class="flex gap-x-[10px]">
        <input
          class="mt-[6px]"
          id="commerceApp"
          type="checkbox"
          value="commerceApp"
        />
        <label for="commerceApp">متجر تطبيق الكترونى</label>
      </div>
      <div class="flex gap-x-[10px]">
        <input
          class="mt-[6px]"
          id="commercialBranch"
          type="checkbox"
          value="commercialBranch"
        />
        <label for="commercialBranch"> فرع تجارى</label>
      </div>
    </div>
  </div>
  <div class="col-span-4 flex flex-col">
    <label
      for="commercialRegistrationNumber"
      class="text-[16px] text-black mb-2"
    >
      رقم السجل التجارى
    </label>
    <input
      type="text"
      class="bg-transparent p-[6px] rounded-md text-gray-400 border-solid border-[2px]"
      id="commercialRegistrationNumber"
      placeholder="رقم السجل التجارى"
    />
  </div>
  <div class="col-span-4 flex flex-col">
    <label for="aboutThePartner" class="text-[16px] text-black mb-2">
      نبذه عن الشريك
    </label>
    <input
      type="text"
      class="bg-transparent p-[6px] rounded-md text-gray-400 border-solid border-[2px]"
      id="aboutThePartner"
      placeholder="نبذه عن الشريك"
    />
  </div>
</div>
