<main class="bg-white m-5 py-3 h-[calc(100vh-40px)] overflow-x-auto">
  <form action="">
    <section id="partnerDetails">
      <h2 class="text-[18px] text-black pt-[8px] pb-[15px] border-b px-4">
        بيانات الشريك
      </h2>
      <div
        class="grid grid-cols-12 gap-x-[10px] gap-y-[15px] my-[20px] px-4 border-b pb-6"
      >
        <div class="col-span-3 flex flex-col">
          <label class="text-[16px] text-black mb-2">نوع الجهة</label>
          <select
            class="bg-transparent p-[6px] rounded-md text-gray-400 border-solid border-[2px]"
            title="department type"
          >
            <option selected value="">حدد الجهه</option>
            <option value="governmental">حكوميه</option>
          </select>
        </div>

        <div class="col-span-3 flex flex-col">
          <label for="arabicDepartmentName" class="text-[16px] text-black mb-2">
            اسم الجهه عربى
          </label>
          <input
            type="text"
            class="bg-transparent p-[6px] rounded-md text-gray-400 border-solid border-[2px]"
            id="arabicDepartmentName"
            placeholder="اسم الجهه"
          />
        </div>

        <div class="col-span-3 flex flex-col">
          <label class="text-[16px] text-black mb-2"> اسم الجهه انجليزى </label>
          <input
            type="text"
            class="bg-transparent p-[6px] rounded-md text-gray-400 border-solid border-[2px]"
            placeholder="اسم الجهه"
            id="englishDepartmentName"
          />
        </div>

        <div class="col-span-3 flex flex-col">
          <label class="text-[16px] text-black mb-2">مجال الجهة</label>
          <select
            class="bg-transparent p-[6px] rounded-md text-gray-400 border-solid border-[2px]"
            title="department type"
            id="serviceType"
          >
            <option selected value="">حدد مجال الصناعه</option>
            <option value="governmental">حكوميه</option>
          </select>
        </div>
        <div class="col-span-4 flex flex-col">
          <label class="text-[16px] text-black mb-2">مجال الجهة</label>
          <div class="flex items-center gap-x-[20px] mt-4">
            <div class="flex gap-x-[10px]">
              <input
                class="mt-[6px]"
                id="commerceApp"
                name="firstDepartment"
                (change)="onCheckDepartmentTwo($event)"
                type="checkbox"
                value="commerceApp"
              />
              <label for="commerceApp">متجر تطبيق الكترونى</label>
            </div>
            <div class="flex gap-x-[10px]">
              <input
                class="mt-[6px]"
                name="secondDepartment"
                id="commercialBranch"
                (change)="onCheckDepartmentOne($event)"
                type="checkbox"
                value="commercialBranch"
              />
              <label for="commercialBranch"> فرع تجارى</label>
            </div>
          </div>
        </div>
        <div class="col-span-4 flex flex-col">
          <label
            for="commercialRegistrationNumber"
            class="text-[16px] text-black mb-2"
          >
            رقم السجل التجارى
          </label>
          <input
            type="text"
            class="bg-transparent p-[6px] rounded-md text-gray-400 border-solid border-[2px]"
            id="commercialRegistrationNumber"
            placeholder="رقم السجل التجارى"
          />
        </div>
        <div class="col-span-4 flex flex-col">
          <label for="aboutThePartner" class="text-[16px] text-black mb-2">
            نبذه عن الشريك
          </label>
          <input
            type="text"
            class="bg-transparent p-[6px] rounded-md text-gray-400 border-solid border-[2px]"
            id="aboutThePartner"
            placeholder="نبذه عن الشريك"
          />
        </div>
      </div>
    </section>
    <section id="partnerRepresentativeDetails">
      <h2 class="text-[18px] text-black pb-[15px] border-b px-4">
        بيانات ممثل الشريك
      </h2>
      <div
        class="grid grid-cols-12 gap-x-[10px] gap-y-[15px] my-[20px] px-4 border-b pb-6"
      >
        <div class="col-span-4 flex flex-col">
          <label
            for="partnerRepresentativeDetails"
            class="text-[16px] text-black mb-2"
          >
            اسم ممثل الشريك
          </label>
          <input
            type="text"
            class="bg-transparent p-[6px] rounded-md text-gray-400 border-solid border-[2px]"
            id="partnerRepresentativeDetails"
            placeholder="اسم ممثل الشريك"
          />
        </div>
        <div class="col-span-4 flex flex-col">
          <label for="phoneNumber" class="text-[16px] text-black mb-2">
            رقم الجوال
          </label>
          <input
            type="number"
            class="bg-transparent p-[6px] rounded-md text-gray-400 border-solid border-[2px]"
            id="phoneNumber"
            placeholder=" رقم الجوال "
          />
        </div>
        <div class="col-span-4 flex flex-col">
          <label for="emailAdress" class="text-[16px] text-black mb-2">
            البريد الالكترونى
          </label>
          <input
            type="email"
            class="bg-transparent p-[6px] rounded-md text-gray-400 border-solid border-[2px]"
            id="emailAdress"
            placeholder=" البريد الالكترونى  "
          />
        </div>
      </div>
    </section>
    <section [class.hide]="showBranchDetails" id="branchDetails">
      <h2 class="text-[18px] text-black pb-[15px] border-b px-4">
        اضف بيانات الفرع
      </h2>
      <div
        *ngFor="let branch of branchDetails; let i = index"
        class="grid grid-cols-12 gap-x-[10px] gap-y-[15px] my-[20px] px-4 border-b pb-6"
      >
        <div class="col-span-3 flex flex-col">
          <label class="text-[16px] text-black mb-2">المنطقة </label>
          <select
            class="bg-transparent p-[6px] rounded-md text-gray-400 border-solid border-[2px]"
            title="region"
          >
            <option selected value="">حدد المنطقة</option>
            <option value="governmental">حكوميه</option>
          </select>
        </div>
        <div class="col-span-3 flex flex-col">
          <label class="text-[16px] text-black mb-2">المدينه </label>
          <select
            class="bg-transparent p-[6px] rounded-md text-gray-400 border-solid border-[2px]"
            title="state"
          >
            <option selected value="">حدد المدينه</option>
            <option value="governmental">حكوميه</option>
          </select>
        </div>
        <div class="col-span-3 flex flex-col">
          <label for="branchLocation" class="text-[16px] text-black mb-2">
            موقع الفرع
          </label>
          <input
            type="text"
            class="bg-transparent p-[6px] rounded-md text-gray-400 border-solid border-[2px]"
            id="branchLocation"
            placeholder="موقع الفرع/فروع"
          />
        </div>
        <div class="col-span-3 flex items-end gap-x-[5px] h-full">
          <button
            class="w-[50%] text-white bg-green-950 rounded-lg text-[14px] h-[39px]"
          >
            حدد الموقع
          </button>
          <button
          *ngIf="branchDetails.length <= i + 1"
            (click)="addNewRow($event)"
            class="w-[50%] text-black bg-[#ddd] rounded-lg text-[14px] h-[39px]"
          >
            اضف فرع اخر
          </button>
          <button
            *ngIf="branchDetails.length > i + 1"
            (click)="deleteRow($event, branch.id)"
            class="w-[50%] text-black bg-[#ddd] rounded-lg text-[14px] h-[39px]"
          >
            حذف
          </button>
        </div>
      </div>
    </section>
    <section [class.hide]="showCommerceDetails" id="commerceDetails">
      <h2 class="text-[18px] text-black pb-[15px] border-b px-4">
        بيانات المتجر / المتجر الالكترونى
      </h2>
      <div
        class="grid grid-cols-12 gap-x-[10px] gap-y-[15px] my-[20px] px-4 pb-6"
      >
        <div class="col-span-4 flex flex-col">
          <label for="storeDownloadLink" class="text-[16px] text-black mb-2">
            رابط المتجر/ رابط تحميل التطبيق
          </label>
          <input
            type="text"
            class="bg-transparent p-[6px] rounded-md text-gray-400 border-solid border-[2px]"
            id="storeDownloadLink"
            placeholder="رابط المتجر/ رابط تحميل التطبيق"
          />
        </div>
        <div class="col-span-4 flex flex-col">
          <label class="text-[16px] text-black mb-2">المنطقة </label>
          <select
            class="bg-transparent p-[6px] rounded-md text-gray-400 border-solid border-[2px]"
            title="region"
          >
            <option selected value="">اضافة المنطقة</option>
            <option value="governmental">حكوميه</option>
          </select>
        </div>
        <div class="col-span-4 flex flex-col">
          <label class="text-[16px] text-black mb-2">المدينه </label>
          <select
            class="bg-transparent p-[6px] rounded-md text-gray-400 border-solid border-[2px]"
            title="region"
          >
            <option selected value="">اضافة المدينه</option>
            <option value="governmental">حكوميه</option>
          </select>
        </div>
        <div class="col-span-4 flex flex-col">
          <label for="partnerSlogan" class="text-[16px] text-black mb-2">
            شعار الشريك
          </label>
          <input
            type="file"
            class="bg-transparent p-[6px] rounded-md text-gray-400 border-solid border-[2px]"
            id="partnerSlogan"
          />
        </div>
        <div class="col-span-4 flex flex-col">
          <label for="partnerReport" class="text-[16px] text-black mb-2">
            خطاب الشريك
          </label>
          <input
            type="file"
            class="bg-transparent p-[6px] rounded-md text-gray-400 border-solid border-[2px]"
            id="partnerReport"
            placeholder="ارفق النموذج بامتداد PDF"
          />
        </div>
        <div class="col-span-4 flex flex-col">
          <label class="text-[16px] text-black mb-2">حال الشريك </label>
          <div class="flex items-center gap-x-[20px] mt-4">
            <div class="flex gap-x-[10px]">
              <input
                class="mt-[6px]"
                id="partnerActivated"
                type="radio"
                value="activated"
                name="partnerActivation"
              />
              <label for="partnerActivated">مفعل </label>
            </div>
            <div class="flex gap-x-[10px]">
              <input
                class="mt-[6px]"
                id="partnerNonActivated"
                type="radio"
                name="partnerActivation"
                value="nonActivate"
              />
              <label for="partnerNonActivated"> معطل </label>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="flex justify-between px-4 items-center">
      <button
        class="w-[200px] text-center text-green-600 border-2 rounded-lg border-green-600 py-2 px-3"
      >
        اضافة شريك اخر
      </button>
      <div class="flex gap-x-[15px]">
        <button
          class="w-[60px] text-center text-black bg-[#f4f8ff] rounded-lg py-2 px-3"
        >
          الغاء
        </button>
        <button
          class="w-[100px] text-center text-white rounded-lg bg-green-400 py-2 px-3"
        >
          حفظ
        </button>
      </div>
    </div>
  </form>
</main>
