<h2 class="text-[18px] text-black pb-[15px] border-b px-4">
  بيانات ممثل الشريك
</h2>
<div
  class="grid grid-cols-12 gap-x-[10px] gap-y-[15px] my-[20px] px-4 border-b pb-6"
>
  <div class="col-span-4 flex flex-col">
    <label
      for="partnerRepresentativeDetails"
      class="text-[16px] text-black mb-2"
    >
      اسم ممثل الشريك
    </label>
    <input
      type="text"
      class="bg-transparent p-[6px] rounded-md text-gray-400 border-solid border-[2px]"
      id="partnerRepresentativeDetails"
      placeholder="اسم ممثل الشريك"
    />
  </div>
  <div class="col-span-4 flex flex-col">
    <label for="phoneNumber" class="text-[16px] text-black mb-2">
      رقم الجوال
    </label>
    <input
      type="number"
      class="bg-transparent p-[6px] rounded-md text-gray-400 border-solid border-[2px]"
      id="phoneNumber"
      placeholder=" رقم الجوال "
    />
  </div>
  <div class="col-span-4 flex flex-col">
    <label for="emailAdress" class="text-[16px] text-black mb-2">
      البريد الالكترونى
    </label>
    <input
      type="email"
      class="bg-transparent p-[6px] rounded-md text-gray-400 border-solid border-[2px]"
      id="emailAdress"
      placeholder=" البريد الالكترونى  "
    />
  </div>
</div>
